<!DOCTYPE html>
<html>
  <head>
    <title>goodWines</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
    body {
      background-image: url("/images/Cursive-Wine-Home.svg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      background-position: center;
    }
  </style>
  <body>
    <nav>
      <img src="https://i.imgur.com/Q9Az54F.png">
      <a href="/">Home</a>
      &nbsp;|&nbsp;
      <a href="/wines">Full Wine List</a>
      &nbsp;|&nbsp;
    <a href="/brands/index">Browse By Brand</a>
      &nbsp;|&nbsp;
      <% if (user) { %>
        <a href="/wines/new">New Wine</a>
        &nbsp;|&nbsp;
      <a href="/brands/new">New Brand</a>
        &nbsp;|&nbsp;
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
    <h1>Your new favorite wine awaits</h1>
    <a href="/wines">Click Here to See Wine List</a>
  </body>
</html>