<%- include('../partials/header') %>

<h1>Browse All Brands</h1>

 <table>
   <thead>
     <tr>
       <th id="brandIdxTitle">Brands</th>
     </tr>
   </thead>
   <tbody>
    <% brands.forEach(function(brand) { %>
       <tr>
         <td><a href="/brands/<%= brand._id %>/show" id="brandIdx"><%= brand.name %>></a></td>
       </tr>
       <% }); %>
   </tbody>
   <style id="bIdxImg">
    body {
      background-image: url("/images/PNG-Brand-Index.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      background-position: center bottom;
    }
  </style>
 </table>

 <%- include('../partials/footer') %>