<%- include('../partials/header') %>

<h1>Browse All Brands</h1>

 <table>
   <thead>
     <tr>
       <th>Brand</th>
       <th>Type</th>
       <th>Alcohol By Volume</th>
       <th>Variety</th>
       <th>Year</th>
       <th>Information</th>
     </tr>
   </thead>
   <tbody>
    <% brands.forEach(function(brand) { %>
       <tr>
         <td><a href="/brands/<%= brand._id %>/show"><%= brand.name %>></a></td>
       </tr>
       <% }); %>
   </tbody>
   <style>
    body {
      background-image: url("/images/Cursive-Wine-Home.svg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      background-position: center;
    }
  </style>
 </table>

 <%- include('../partials/footer') %>