<%- include('../partials/header') %>

<div>Before adding, please ensure that the Brand is not in the following list:</div>
<section id="badge-container">
  <% brands.forEach(function(brand) { %>
    <article class="badge"><%= brand.name %></article>
  <% }) %>
</section>

<form id="add-brand-form" action="/brands" method="POST">
  <label>Name:</label>
  <input type="text" name="name"
  <label>Location:</label>
  <input type="text" name="location">
  <label>Established:</label>
  <input type="text" name="established">
  <input type="submit" value="Add Brand">
</form>

<style>
    body {
      background-image: url("/images/New Brand Page.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      background-position: center bottom;
    }
  </style>


<%- include('../partials/footer') %>